@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the thumb */
  /* background-clip: content-box; Clipping to prevent thumb from being too big */
  height: 50px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
  border-radius: 1px; /* Roundness of the track */
  height: 150px;
}

.custom-scrollbar {
  width: 1px;
  height: 150px;
}
/* background: transparent; */

.custom-scrollbar-thumb {
  width: 100%;
  height: 150px;
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}

.h1 {
  @apply font-semibold text-h1 leading-h1;
}
.h2 {
  @apply font-semibold text-h2 leading-h2;
}
.h3 {
  @apply font-semibold text-h3 leading-h3;
}
.h4 {
  @apply font-semibold text-h4 leading-h4;
}
.h5 {
  @apply font-semibold text-h5 leading-h5;
}
.h6 {
  @apply font-semibold text-h6 leading-h6;
}
.p1 {
  @apply font-medium text-p1 leading-p1;
}
.p2 {
  @apply font-normal text-p2 leading-p2;
}
.button {
  @apply font-semibold text-button leading-button;
}
.dropdown-1 {
  @apply font-semibold text-dropdown1 leading-dropdown1;
}
.dropdown-2 {
  @apply font-semibold text-dropdown2 leading-dropdown2;
}
/* 
:root {
  --background: '#EDECE6';
  --foreground: '#F1F1F1';
} */

.main {
  height: 900px;
}

.scroll-container {
  overflow-y: auto;
  height: 400vh; /* or whatever height you need */
  position: relative;
}
.scroll-container-horizontal {
  overflow-x: auto;
  width: 400vw;
  position: relative;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  /* margin-inline: auto; */
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* padding: auto; */
}

.modal {
  width: auto;
  max-width: 500px;
  height: auto;
  max-height: 500px;
  border: none;
  border-radius: 12px;
  background-color: white;
  /* padding: 20px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 15px; /* Circular shape */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px; /* Adjust font size as needed */
}

.close-button:hover {
  background-color: #eee;
}

.close-button:after {
  content: 'x';
  color: black;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #eee;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
  max-width: 200px;
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    width: 80%;
  }
}
/* 
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #eee;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
  max-width: 200px;
} */
/* 
@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    width: 80%;
  }
} */
