@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1920px;
  --breakpoint-mobile: 384px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1440px;
  --breakpoint-desktop: 1920px;

  --text-*: initial;
  --text-h1: 48px;
  --text-h2: 32px;
  --text-h3: 24px;
  --text-h4: 20px;
  --text-h5: 16px;
  --text-h6: 12px;
  --text-p1: 16px;
  --text-p2: 12px;
  --text-button: 16px;
  --text-dropdown1: 16px;
  --text-dropdown2: 12px;

  --leading-*: initial;
  --leading-h1: 56px;
  --leading-h2: 40px;
  --leading-h3: 32px;
  --leading-h4: 24px;
  --leading-h5: 24px;
  --leading-h6: 16px;
  --leading-p1: 24px;
  --leading-p2: 16px;
  --leading-button: 24px;
  --leading-dropdown1: 24px;
  --leading-dropdown2: 16px;

  --order-*: initial;
  --order-1: 1;
  --order-2: 2;
  --order-3: 3;
  --order-4: 4;
  --order-5: 5;
  --order-6: 6;
  --order-7: 7;
  --order-8: 8;
  --order-9: 9;
  --order-10: 10;
  --order-11: 11;
  --order-12: 12;
  --order-13: 13;
  --order-14: 14;
  --order-15: 15;
  --order-16: 16;
  --order-17: 17;
  --order-18: 18;
  --order-19: 19;
  --order-20: 20;
  --order-21: 21;
  --order-22: 22;
  --order-23: 23;
  --order-24: 24;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --animate-bounce-slow: bounce 2s infinite;
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  scroll-behavior: smooth;
}
[id] {
  scroll-margin-top: 80px;
}

body {
  /* background-image: linear-gradient(to bottom right, #f8fafc, #e2e8f0); */
  background-color: #1a202c;
  background-image: linear-gradient(to bottom right, #1a202c, #2d3748);
}

::-webkit-scrollbar {
  width: 1px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
  height: 150px;
}
::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
  border-radius: 1px; /* Roundness of the track */
  height: 150px;
}

.content {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Hide the default scrollbar */
.content::-webkit-scrollbar {
  display: none;
}

.customScrollbar {
  width: 40px;
  height: 100%;
  position: relative;
  background: transparent;
}

.customScrollbarThumb {
  position: absolute;
  width: 1px;
  height: 150px;
  border-radius: 6px;
  cursor: pointer;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.icon:nth-child(2) {
  transition-delay: 200ms;
}
.icon:nth-child(3) {
  transition-delay: 300ms;
}
.icon:nth-child(4) {
  transition-delay: 400ms;
}
.icon:nth-child(5) {
  transition-delay: 500ms;
}
.icon:nth-child(6) {
  transition-delay: 600ms;
}

.hideText {
  opacity: 100;
  /* filter: blur(5px); */
  /* transform: translateX(-100%); */
  transition: all 1s;
}

@media screen {
  .hidden {
    transition: none;
  }
}

.showText {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Ensures it's always circular */
  background: rgba(122, 183, 255, 0.3);
  animation: ripple-animation 4s infinite ease-out;
  pointer-events: none;
}

@keyframes ripple-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(122, 183, 255, 0.4);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 50px 50px rgba(21, 83, 161, 0.2);
    transform: scale(5);
    opacity: 0.4;
  }
  100% {
    box-shadow: 0 0 100px 100px rgba(21, 83, 161, 0);
    transform: scale(8);
    opacity: 0;
  }
}

/* styles/globals.css */
#ripple-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Ensure ripples don't interfere with UI interactions */
  z-index: -50; /* Place above other elements */
}

#rippleCanvas {
  width: 100%;
  height: 100%;
  display: block;
}

h1 {
  @apply text-h1 font-semibold leading-h1;
}
h2 {
  @apply text-h2 font-semibold leading-h2;
}
h3 {
  @apply text-h3 font-semibold leading-h3;
}
h4 {
  @apply text-h4 font-semibold leading-h4;
}
h5 {
  @apply text-h5 font-semibold leading-h5;
}
h6 {
  @apply text-h6 font-semibold leading-h6;
}
.p1 {
  @apply text-p1 font-medium leading-p1;
}
.p2 {
  @apply text-p2 font-normal leading-p2;
}

.puzzle {
  background: white;
  height: 120px;
  width: 120px;
  place-self: center;
  border: 1px solid black;
  border-left: 0px;
  border-radius: 10px;
}
.innerCircle {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border-bottom-left-radius: 9px;
  rotate: -45deg;
  border-top: 1px solid black;
  border-right: 1px solid black;
  background: white;
}
.outCircle {
  background: white;
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 100%;
  border-bottom-left-radius: 9px;
}
.bottom {
  background: white;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border-bottom-left-radius: 9px;
  rotate: -225deg;
  top: 110px;
  left: 40px;
  z-index: 1;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
