@tailwind base;
@tailwind components;
@tailwind utilities;
/* Scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the thumb */
  /* background-clip: content-box; Clipping to prevent thumb from being too big */
  height: 150px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes circle {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
  border-radius: 1px; /* Roundness of the track */
  height: 150px;
}

.content {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
html {
  scroll-behavior: smooth;
}
/* Hide the default scrollbar */
.content::-webkit-scrollbar {
  display: none;
}

.customScrollbar {
  width: 40px;
  height: 100%;
  position: relative;
  background: transparent;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust values for desired effect */
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 48.4% 47.5%,
    rgba(122, 183, 255, 1) 0%,
    rgba(21, 83, 161, 1) 90%
  );
}

.customScrollbarThumb {
  position: absolute;
  width: 1px;
  height: 150px;
  border-radius: 6px;
  cursor: pointer;
}

.h1 {
  @apply text-h1 font-semibold leading-h1;
}
.h2 {
  @apply text-h2 font-semibold leading-h2;
}
.h3 {
  @apply text-h3 font-semibold leading-h3;
}
.h4 {
  @apply text-h4 font-semibold leading-h4;
}
.h5 {
  @apply text-h5 font-semibold leading-h5;
}
.h6 {
  @apply text-h6 font-semibold leading-h6;
}
.p1 {
  @apply text-p1 font-medium leading-p1;
}
.p2 {
  @apply text-p2 font-normal leading-p2;
}
.button {
  @apply text-button font-semibold leading-button;
}
.dropdown-1 {
  @apply text-dropdown1 font-semibold leading-dropdown1;
}
.dropdown-2 {
  @apply text-dropdown2 font-semibold leading-dropdown2;
}

.main {
  height: 900px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Ensures it's always circular */
  background: rgba(122, 183, 255, 0.3);
  animation: ripple-animation 4s infinite ease-out;
  pointer-events: none;
}

@keyframes ripple-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(122, 183, 255, 0.4);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 50px 50px rgba(21, 83, 161, 0.2);
    transform: scale(5);
    opacity: 0.4;
  }
  100% {
    box-shadow: 0 0 100px 100px rgba(21, 83, 161, 0);
    transform: scale(8);
    opacity: 0;
  }
}

/* styles/globals.css */
#ripple-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Ensure ripples don't interfere with UI interactions */
  z-index: -50; /* Place above other elements */
}

#rippleCanvas {
  width: 100%;
  height: 100%;
  display: block;
}
